
/* SITE STYLES*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222831;
    color: #fff;
}

header {
    color: white;
}

nav {
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    color: white;
    text-decoration: none;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.nav-link:hover {
    color: #00ADB5;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

main {
    padding: 2rem;
}


/* Form styles*/
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input, form textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        display: none;
    }
    
    .nav.active {
        display: flex;
    }
    
    .menu-toggle {
        display: flex;
    }
}
