:root {
    --font-body: Arial, Helvetica, sans-serif;
    --font-header : "Rubik", sans-serif;
    --font-headline:"Playfair","Arial Narrow Bold", sans-serif;
    /* sizes */
    --font-base: 20px;
    --small-font: 1em;
    --medium-font: 2em;
    --large-font: 3em;
}
body{
    font-family: var(--font-body);
}

header, main, footer{
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #ffff;
    border: 1px solid #4f0d9a;
}
h2,h1{
    font-family: var(--font-header);
    text-align: center;
    font-size: var(--large-font);
}
#title{
    font-size: var(--medium-font);
}
header{
    background-color: #4f0d9a;
    color: white;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    gap: 1rem;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "X";
}
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}
#menu:hover{
    background-color: #fff;
    cursor: pointer;
}
.open a {
	display: block;
}
nav {
    font-family: var(--font-headline);
    background-color: #a5c1f0;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}
nav a {
        display: none;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        color: #fff;
        font-size: var(--small-font);
        letter-spacing: 5px;
}
a{
    cursor: pointer;
}
.open a {
	display: block;
}
nav a:hover {
	text-decoration:overline;
    background-color: #4f0d9a;
}
main{
    max-width: 700px;  
    margin: auto;
}
main div{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    place-items: center;
}
figure {
    background-color:#fff;}
img { 
    width: 100%;
    height: auto;
   }
.hover:hover {
    box-shadow: 0 0 50px #a5c1f0;}
footer {
      
        width: 100%;
        padding: 1rem;
        text-align: center;
        font-size: var(--small-font);
    }
